<section class="writing">
    <h4>The lakeside stars</h4>

<pre>
Looking into the waters I sat
sitting on a vast black mat
peering into my heart were the stars
Wishing a little too hard to be on mars.

Above, the starry abyss.. pretty and large
sailed the sun on a little barge
To treck across this cosmic sea
is to see some semblence of me.

The waters showed me my future and past
The journey showed me that im built to last
The end I wish to see of this sorrow
These days I forget yesterday and tomorrow
</pre>
</section>