.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  outline: solid;
  box-shadow: rgb(var(--midnight-violet)) 1rem 1rem;
  color: rgb(var(--midnight-violet));
  background: linear-gradient(
    to right bottom,
    rgb(var(--dark-violet)),
    rgba(var(--light-pink), 0.5)
  );
}

.card > img {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.card > button {
  background-color: rgba(var(--midnight-violet), 0.8);
  color: rgb(var(--dark-violet));
  font-size: 1rem;
  border-radius: 1rem;
  outline: double;
  outline-width: 0.5rem;
  outline-offset: -0.5rem;
  padding: 0.7rem;
  margin: 0.2rem;
}

.card > button :hover {
  outline-offset: 1rem;
}

.card > h2 {
  box-shadow: var(--light-pink) -0.3rem 0.3rem;
  background: linear-gradient(
    to bottom right,
    rgb(var(--midnight-violet)),
    rgb(var(--dark-violet))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.5rem;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.card > p {
  color: rgb(var(--midnight-violet));
  text-align: center;
}
