<section class="blog">
    <header>
        <h2>Inability to complete</h2>
    </header>
    <p>
        One of my major gripes with life is that I often forget or lack the
        motivation requried to finish doing something that is unrelated to my
        studies. I wonder if I'm bored or done with it. Coding is a great passion and all yet I feel as if im missing
        something.
        My gripes are with capitalism, and social media. I have heard some talk about how humans were never meant to see
        their peers succeding. We live in a globalized world where everyone is everyone's neighbour broadcasting their
        successes in life all sugar coated and painted as easy.
        Life is never easy and never will be. Its hard pill to swallow.
        I wish to be lost in a library of somesort be lost in books under the light of a willow tree. Some veranda with
        a book beside me or stay long hours into the night having no care in the world doing math.
        It is impossible for me to comprehend someone who has no thoughts wandering their minds.
        My mind is always occupied whether it be nosense or one trails leading to infinity at all times.
        It never ends and I kinda enjoy being lost in thought I wish someday I'll be
        able to be as great as the greatest thinkers of the ages before us. But I've
        heard some internet therapist say trying to be the best is setting yourself
        up for failure which is probably true. You'd be sad if you didnt achieve what
        you set out to. Thats where I think a solid state of being comes in. A way of
        life, A train of thought that leads to narnia. When we think of the people
        who redefined their respective fields. We think of Vincent Van Gogh, Fyodor
        Dostoevsky, and others some of whom and the ones whom I've mentioned have all
        been depressed as anyone ever could be. I would think that the greatest art
        would be the art which protray the things that the creator never had. This
        train of thought lead me to many places. (1) if you believe in a God then
        would we be the beings that God could not be because according to many
        religeous texts the greatest act of creation was of human life. (2) Some say
        bearing children is the greatest extend of motherhood, if so is the child a
        ressamblance of what the mother could never be? (3) We might think of
        machines which labour for us do things impossible for humans to ever do. This
        list could go on forever and ever until the end of time. Let me remind you
        that this article was supposed to be about losing motivation, by the creation
        of this article I was actively motivated to end it or for the reader to stop
        being less motivated. I think its quite alright for people to sit down
        sometime and enjoy what ever they would like to. Us as humans never remain
        grounded, We (atleast I) always fantasize about the things that I could never
        do. Maybe that is why I long to be the greatest at something, I lack it thus
        I must think about it. The lives of people are complicated, We try escape
        reality the moment we are free to do so whether in a class room or in the benches
        of some church. We fantasize about the realities we wish were real but never
        will be and the realities we live in become sligthly more liveable as we are
        able to ignore it as a whole. They have observed this with people who exeperience trauma.
        So would it not be possible for someone to long for something that they never would want
        or atleast dont know they wanted. I've often pondered the meaning of all this yet I come up with the things the
        people before me have said
        'Life is what you make of it.'
        why must we ignore the aspect of life which makes us because of it.
        we are who we are because of how we are and where we are.
        The remnants of the I will be unchanged even when time with all its might errode the cage where it lives.
        for I is not just me or my mind but me as an entity a sort of object unconstraint by any physcial or mental
        bounderies. Set free to roam the world as it pleases.
        Often ignoring the 'me'.
        <br />
        <br />
        We have seen a rise in a new wave of art which is unique one which is monitized and done only for money. People
        say when you sell art you are giving away its meaning. Could it be possible for something to both have a price
        as well as meaning? the mere can of tuna has no meaning it simply exists to sustain one in need of essen. While
        a perfectly placed rock on the side of river has no inherint monetary value within itself it does possess the
        awe of nature which could be argued to be either priceless or worthless depending on your view on what nature
        is. Sure court painters and illustrtators have existed since time immemorial but they have some intend behind
        each stroke and each line adding some meaning to the montony of life if not for them but for the viewer. A look
        into the life of the author reveals why he painted a piece but what value will we get by looking into who the
        book had been sold to? Where would we draw the line between art and work. If there is any? Because work used to
        be art and art used to be work. There is reason for one to assume everything is artistic and nothing at the same
        time. The bandwaves of hatred against modern art in itself is the portrayl of what society of the time thinks of
        the art of its generation. Modern art is wonderful in its own right and none has the right to say otherwise.
        Because art is and always was and always will be. Without it the world would be without light. What is life
        without the endless nights where one watches the skies tell me that after one has a look to the world beyond
        that there is no beauty there. Because there is and there always will be. It may be invisble insermountable and
        even indescribable but certianly we will find a way to
        see beauty even where there is none. Because beauty as they've all said is in the
        eyes of the beholder. and so shall it be said the same for life. Life is
        in the lives of the people who live. meaning is unique and ubiquitous. It is absurd to imagine sisphys happy sad
        or angry because he is all of it. Even at lives cruel jokes. One must see the happiness and at beauty find the
        ugly.
        this yin and yang is what makes life so beautiful and ugly. the ones who see This
        are the ones who truly know that life has no meaning not because there is no greater purpose.
        but simply because there needs not be one. Meaning is an abstraction by the mind.
        Something which keeps it together in this rough shack we call existence.
        Meaning is also what we live for. both statements can be true.
        sisphys can be happy when he rolls the boulder up and when it tumbles down.
        he can be sad when the boulder tumbles as well as when its at the top.
    </p>
</section>