section {
    color: white;
    
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    margin-block: 1rem;
    border: solid;
    background: linear-gradient(
    to bottom right,
    rgba(var(--midnight-violet), 0.8),
    rgba(var(--dark-violet), 0.8)
    );
    
}


h2 {
    text-decoration: underline;
}
h3 {
    padding-block: 1rem;
}

h3::before {
    content: "> ";
    color: pink;
}

a {

    color:lightblue;
    text-decoration: underline;
}


@media screen and (min-width: 900px) {
    section {
        margin-inline: 10rem;
    }
    
}