main {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
  color: var(--text);
}

nav {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--midnight-violet));
  min-width: 10rem;
  align-items: center;
  justify-content: flex-start;
}

nav > section > h5 {
  text-align: center;
}
nav > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  margin-inline: 1rem;
  max-width: 8rem;
}

.nav-items>* {
  cursor: pointer;
  transition: all ease 200ms;
  color: rgb(var(--light-pink));
  display: inline-block;
  top: 0;
  margin: 0.5rem;
  outline: solid;
  border-radius: 1rem;
  padding: 0.5rem;
  outline-color: rgb(var(--dark-violet));
}


.nav-items>*:hover {
  outline: double;
  outline-offset: -0.2rem;
  outline-width: 0.8rem;
}

button {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 72rem) {
  main {
    flex-direction: column;
  }

  nav {
    min-height: 10vh;
    flex-direction: row;
    border-block: solid;
  }
  
  nav > section {
    flex-basis: 50%;
  }
  
  nav > section:first-child {
    border-right: solid;
  }

}