header {
  background-color: rgba(var(--dark-pink), 0.5);
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  outline: solid;
  outline-offset: 0.5rem;
  color: rgba(var(--midnight-violet), 1);
}
