<section class="writing">
    <h4>A house on a hill</h4>
    <pre>
A house on a hill
It is all I want in my will
Maybe a garden, or a mill
I hope the waters will be still

A rose on my window
Wandering through the Meadows
Walking through the highs and the lows
Hoping my heart will have a role

Creeping vines climbing towers
Nature and I will be lovers
Meandering through the bower
Seeing the odd blooming flower

The hills, the waters, birds and the breeze
Only if the time could ever freeze
    </pre>
</section>