<section class="blog">
    <header>
        <h2>Robotics an art worth the money</h2>
    </header>
    <p>
        Its quite interesting that i've never really considered robotics until I got an
        opportunity to do a workshop with the G-Bot team from <a href="https://www.gecwyd.ac.in/">Kalpetta Engineering
            college</a>.
        We were teamed based on our schools, So i was teamed with my class mate. I arrived early to setup our linux box
        and installed arduino IDE. Did I mention that we were working with <a
            href="https://www.arduino.cc/">Arduinos</a>&ThickSpace; <em> very exciting</em>.
        <br />
        <br />
    <figure>
        <img src="https://docs.arduino.cc/static/bbceab04f8e0726194ef4dfe2457097f/image.svg"
            alt="a diagram of an arduino uno R3" width="150" height="150" />
        <figcaption>
            This lil tiny board can do so many cool things.
            point your attention to the Chip. That's a ATmega328P right there.
        </figcaption>
    </figure>
    They introduced us to Arduino, A single board micro-controller. basically a programmable PCB. An arduino works on
    variant of
    C. I prefer to call it embeded C but that's probably <em> Very wrong</em>.
    There are 14 digital pins and 6 analog pins. Whats the difference?
    A digital pin is digital meaning it can input or output a fixed value in the form of a square wave; Either 0 or 1
    (on or off or high or low). While an analog pin can input a wide range of values in the form of a sine wave think of
    it was values from 0 to 1 (eg: 0.34). An arduino is a digital board and cant directly input or ouput analog values
    thus it must covert it to digital in the case of input or convert from digital to analog in the case of output.
    Luckily the board's chip the ATmega328P has builtin functionality of converting to and from analog. This results
    values to be displayed in 10 bits that is 0-1024</p>
    <h4>What does a arduino file look like?</h4>

<p>
        Good question! An arduino is coded using a file with an extension of .ino usually named something like
        sketch&LeftAngleBracket;somenumber&RightAngleBracket;.ino which has two parts a <em>setup function</em> and a
        <em>loop function</em>.
        The setup function runs the code inside only ONCE and the loop function as you've guessed it runs it in a loop
        until the end of time or until you power the arduino off.

        <textarea highlight-js [lang]="'arduino'">
/**
 * sketch.ino
 */


void setup() {
    // runs once
}

void loop() {
    // runs forever
}
    </textarea>

        If you look carefully you'll see a tiny LED on the 13th pin. You might be wondering how we even begin to light
        it. Well it starts off by setting how the pin should operate. Since a LED is usually either on or off we connect
        it to a Digital pin. Now we must inform the board that we are trying to OUTPUT a signal to pin 13. Hence we
        must set the mode of the pin to "OUTPUT" using the built in function called pinMode

<textarea highlight-js [options]="{}" [lang]="'arduino'">
/**
 * setting pinmode to OUTPUT
 */
void setup() {
    pinMode(13, OUTPUT);
}

void loop() {
    // Turn the LED on
    digitalWrite(13, HIGH); 
}
</textarea>

        To send an ON signal to that pin we use the builtin function called "digitalWrite" in our loop to turn it and
        make it stay on forever.

        To blink a given led you must add a delay.
        a delay works as follows, it asks the board to wait a while before executing the other code. For example if you
        wanted to turn off the LED you might try to
        add <textarea highlight-js [lang]="'arduino'">digitalWrite(13, LOW);</textarea> which would blink the LED yes
        but it would be invisible as it is in a loop it blinks at microsecond intervals basically per cpu clock. To
        avoid this we use a delay so the code gets a chance to be executed and waits a bit before executing the other
        parts. For ease of access I have moved this to a tiny function

<textarea highlight-js [options]="{}" [lang]="'arduino'">
/**
 * @brief Lights the LED with the given pin number
 * @param num the pin number to light
 * @param delay in seconds
 */
void light_led(int num, int delay) {
    // turn on the LED
    digitalWrite(num, HIGH);
    // wait until a time delay
    delay(delay * 1000); // * 1000 to convert second to millisecond
    // turn off the LED
    digitalWrite(num, LOW);
}

void loop() {
    light_led(13);
}
</textarea>
</p>
<h4>Potentiometers</h4>
<p>
    While looking at LEDs we were introduced a new component potentiometers <em>fancy!</em>
    Potentiometers simply put are variable resistors. The one they showed us was a 10k ohm
    potentiometer. The working of a potentiometer is quite elegant in my opinion. 
    There is a conductive track and wiper, as the wiper rotates the resistance varies
    as you know length is proportional to resistance, by varing the lenght of the conductive track using the pin you decrease / increase the resistance! <em>How cool!!!</em>
    <figure>
        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20210919142132/PSX20210919141957.jpg" alt="diagram of potentiometer" width="250"  >
        <figcaption><cite>potentiometer diagram</cite> from geeksforgeeks.org</figcaption>
    </figure>
</p>
        <h4>Motors, Motor controllers</h4>
        <p>After a brief lunch break we were tasked with creating a little car thing. It was a simple enough project because they had already done most of the wiring and left us with the coding. Since now you all are experts in doing embedded c. I'll leave you with the entire file
<textarea highlight-js [options]="{}" [lang]="'arduino'">
/**
 * @file
 * @brief programmable car
 * @description
 * These files were coded during the Gbot Robotics workshop.
 * Minimal adjustments were made after the workshop to document the structure
  */
   
// Define the pin numbers
int L = 11; ///< Left motor's forward pin
int L2 = 10; ///< Left motor's backward pin
int R = 8; ///< Right motor's forward pin
int R2 = 9; ///< Right motor's backward pin

int speed_L = 6;
int speed_R = 5;


void setup() {
  // put your setup code here, to run once:
  for(int i=8; i<12; i++) {
    pinMode(i, OUTPUT);
  }
  pinMode(5, OUTPUT);
  pinMode(6, OUTPUT);
  speed(128);
}

void loop() {
  // put your main code here, to run repeated
  forward(1000);
  left(2);
  forward(1000);
}

/**
 * @brief Drives the car forward
 * @param time specifies how long the car should go forward for
 */
void forward(int time) {
  digitalWrite(L, HIGH);
  digitalWrite(L2, LOW);
  digitalWrite(R, HIGH);
  digitalWrite(R2, LOW);
  delay(time);  
}


/**
 * @brief Turn the car to the left
 * @param time specifies how long the car should go left for
*/
void left(int time) {
  digitalWrite(L, HIGH);
  digitalWrite(L2, LOW);
  delay(time);
}


/**
 * @brief Turn the car to the right
 * @param time specifies how long the car should go right for
 */
void right(int time) {
  digitalWrite(R, HIGH);
  digitalWrite(R2, LOW);
  delay(time);
}

/**
 * @brief Turn the car sharply to the left
 * @param time specifies how long the car should go left for
 */
void sharp_left(int time) {
  digitalWrite(L, HIGH);
  digitalWrite(L2, LOW);
  digitalWrite(R2, HIGH);
  digitalWrite(R, LOW);
  delay(time);
}

/**
 * @brief Turn the car sharply to the right
 * @param time specifies how long the car should go right for
 */
void sharp_right(int time) {
  digitalWrite(L2, HIGH);
  digitalWrite(L, LOW);
  digitalWrite(R, HIGH);
  digitalWrite(R2, LOW);
  delay(time);
}

/**
 * @brief Speed of the car
 * @param speed specifes the speed of the car
 */
void speed(int speed) {
  analogWrite(speed_L, speed);
  analogWrite(speed_R, speed);
}

/**
 * @brief Drives the car forward
 * @param time specifies how long the car should go forward for
 */
void backward(int time) {
  digitalWrite(L2, HIGH);
  digitalWrite(L, LOW);
  digitalWrite(R2, HIGH);
  digitalWrite(R, LOW);
  delay(time);
}
    </textarea>
</p>
<h4>Thank you for reading!</h4>
<p>I wish I could go more indepth but this blog has been in the works since last year (2023).
    Procrastination and school got the best of me
    Anyway Hope you learned something!
</p>

</section>