<section class="writing">
    <h4>A grand old oak</h4>
<pre>
Unimaginative blurted the wise oak.
No where to look or go... 
For this concrete jungle was it's home
polluted, noisy and broke.

This wise lion once king
who ruled these vast lands, larger than ming.
Emperor of green, no more with dead leaves.
Branches left clinging, now and then creaks.

Old and wise it's bark has only bites
From saws, mills, plague or plight.
The veridian grove grayed from it's nooks.
salted with plastic was the water of the brook

No more breaths left till grand roll.
oxygen adored now in the poisionous fold
of carbon, root of life no more
the death duo pollutes the folk lore

Lured to sleep, the grand oak felled.
the last bastion of mother nature dealt
conqured by inhumane things
it's grandious in nature still rings

</pre>
</section>