.container {
  color: rgba(var(--light-pink), 0.7);
  background-color: rgba(var(--dark-violet), 0.4);
  height: stretch;
  width: stretch;
  padding: 2rem;
  text-align: center;
  text-justify: center;
  position: relative;
  outline: solid;
  cursor: pointer;
}

h3:hover {
  color: rgba(var(--midnight-violet), 1);
}

a > * {
  display: inline-block;
}
.shadow {
  position: absolute;
  left: 3.5rem;
  bottom: 1.5rem;
  filter: blur(0.7rem);
  -webkit-filter: blur(0.2rem);
}
img {
  position: relative;
  opacity: 0.9;
  float: left;
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
}
